.App {
  text-align: center;
}

.background {
  display: flex;
  flex-direction: row;
  height: 500px;
  width: 900px;
  background-color: #b4213a;
}

.main-container {
  height: inherit;
  width: inherit;
  background-color: white;
  border-radius: 3px;
}
